.question-block p{
  text-transform: capitalize;
  font-size:24px;
}


.question-block{
  margin-top:20px;
}

.slide-container{
  max-width: 1200px;
  position: relative;
  margin: auto;
}

.next{
  float:right;
  margin-right:30px;
  color:#fff !important;
}

.question_number{
  border:2px solid #ffc107;
  width:50px;
  height: 50px;
  padding:5px;
  line-height:38px;
  text-align: center;
  margin-top:20px;
  display:none;
  font-size:20px;
}


form{
  margin-left:50px;
}

.list__item {
	 position: relative;
   list-style: none;
   opacity:1;
   margin-bottom:-40px;
}


.list__item:last-child{
   margin-bottom:0px;
}
 .list__item:hover > .label {
	 color: #ffc107;
}
 .list__item:hover > .label::before {
	 border: 0.1rem solid #ffc107;
	 margin-right: 2rem;
}

.radio_btn{
  position: absolute;
  opacity:0;
  visibility: hidden;
}
.radio_btn:checked + .label{
  color: #ffc107;
}

footer{
  display: none;
}

.radio_btn:checked + .label::before {
  margin-right: 1rem;
  border: 0.6rem solid rgba(128,0,128 ,.3 );
  background: #fff;
}

.label {
  display: flex;
  align-items: center;
  padding: 0.75rem 0;
  color: rgba(128,0,128 ,.3 );
  font-size: 1.25rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s linear;
}

.label::before {
  display: inline-block;
  content: "";
  height: 1.125rem;
  width: 1.125rem;
  margin-right: 0.625rem;
  border: 0.1rem solid rgba(128,0,128 ,.3 );
  border-radius: 50%;
  transition: all 0.25s linear;
}


.timer{
  font-size:20px;
  float:right;
}

.question-img{
  max-width:350px;
  max-height:350px;
  height:100%;
  width:100%;
}

.comments{
  margin-top:200px;
  padding-bottom:200px;
}
