
.main_block{
  margin-top:20px;
}

.text_block{
  background-color: rgba(128,0,128 ,.3 );
  max-width: 269px;
  min-height: 100px;
  border: 1px solid rgba(128,0,128 ,.3 );
  border-bottom-left-radius:5%;
  border-bottom-right-radius:5%;
  padding-top:20px;
  margin:0 auto;
}

.quiz_item{
  margin-bottom:30px;
}

.main_block a{
  color:#000;
}

.quiz_name{
  display: inline-block;
  margin-top:-10px;
  margin-bottom:5px;
  font-size:25px;
}

.main_block a:hover{
  color:#000;
  text-decoration: none;
}

.quiz_img{
  width:269px;
  height:201px;
}

/* .footer{
  margin-top:55vh !important;
} */

.text_block a{
  color:#ffc107;
  font-size:34px;
  font-family:sans-serif;
}

.searchField{
  margin-left:-8px;
}

@media screen and (max-width: 980px)  {
  .main_block div{
    margin-bottom:20px;
  }
}
